@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');


.table .carthead{
 text-align: center;
 font-size: 1cm;
 padding: 5px
}

.table .th-right{
    text-align: right;
}

.table .td-right{
    text-align: right;
}

.table {
    padding: 5px;
    width: 100%;
    overflow-x: auto;
    font-family: 'Ubuntu', sans-serif;
}
.table table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
}
.table table thead {
    border-top: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
}
.table table th {
    border: 1px solid #eee;
}
.table table th, .table table td {
    vertical-align: top;
    text-align: left;
    padding: 8px;
}
.table table th.icons > *, .table table td.icons > * {
    margin-right: 5px;
    cursor: pointer;
}
.table table tr {
    border-bottom: 1px solid #ccc;
}
.table table tr:nth-child(even) {
    background-color: #eee;
}
.table .summary {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
}

.table .summary .total {
    /* margin-left: 20cm; */
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.table .summary .total .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table .summary .total .text h3 {
    color: red;
}
.table .summary .total button {
    margin-top: 5px;
}
.table .count {
    display: flex;
    align-items: center;
    text-align: right;
    /* padding-left: auto; */
}

.table .count > * {
    margin-right: 1rem;
}

/* .summary .total{
    border-style: solid;
    border-width: medium;
} */
