.address-form .card{
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .address-form form label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
}
.address-form form input[type="text"], .address-form form input[type="number"],  .address-form form input[type="email"], .address-form form select, .address-form form textarea {
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    border: 1px solid #777;
    border-radius: 3px;
    outline: none;
} */