@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

/* แก้ขนาด grid */
/* .grid {
    width: 28rem;
    background-color: #fff;
    margin: 5px;
    height: 36rem;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    
} */

.btn{
    padding: 5px 40px;
    border-radius: 8px;
}

.grid .img {
    padding: 1rem;
    width: 100%;
    max-height: 75%;
    overflow: hidden;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.grid .img img {
    width: 70%;
    max-width: 70%;
    cursor: pointer;
    
}

.grid .content .details h4 {
    font-weight: 400;
    font-size: 1rem;
}
.grid .content .details p {
    font-weight: 500;
    color: orangered;
}
.grid .content button {
    display: block;
    width: 100%;
}
