@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

.filter {
    display: flex;
}

.filter h4 {
    margin-top: 1rem;
}

.filter .category {
    display: flex;
    padding: 10px 10px 0px 0px;
}

.filter .category button {
    font-size: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px 40px 10px 1px;
}

.active {
    position: relative;
    padding-left: 1rem;
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    /* background-color: red */
}