.info-box {
    width: 100%;
    max-width: 25rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: black;
    
}
.info-box .card {
    border: 1px solid #ccc;
    border-bottom: 3px solid cornflowerblue;
    padding: 5px;
    background-color: #adcbd3;
}
.info-box span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}